version: '3.5'
services:
  gateway-debug:
    build: .
    hostname: gateway
    command: npm run start:debug
    volumes: 
      - .:/var/www/gateway
      - /var/www/gateway/node_modules
    env_file:
      - .env
    ports:
      - "8000:8000"
      - "9229:9229"
    networks:
      - backend
    depends_on: 
      - rabbitmq

  gateway-dev:
    build: .
    hostname: gateway
    volumes: 
      - .:/var/www/gateway
      - /var/www/gateway/node_modules
    env_file:
      - .env
    command: npm run start:dev
    ports:
      - "8000:8000"
    networks:
      - backend
    depends_on: 
      - rabbitmq

  gateway-prod:
    build: .
    hostname: gateway
    volumes: 
      - .:/var/www/gateway
      - /var/www/gateway/node_modules
    command: npm run start:prod
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - backend
    depends_on: 
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
    volumes:
      - rabbit_data:/var/lib/rabbitmq/

  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - 27017:27017
    networks:
      - backend 
    
networks:
  backend:
    name: cartografia-network
    driver: bridge
  
volumes: 
  mongo_data:
  rabbit_data: